$color-white:#FFFFFF;
$color-black:#000000;
$color-form-button: #7D9B8F;
$color-button-hover: #94B9A9;
$color-button-active: #6B7D76;
$color-button-disabled: #D3DCD8;
$color-hover-contact: #E9FFF6;
$color-active-contact: #CCD7D2;
$color-disabled-contact:#D3D4D4;



$basic-font: "Montserrat", "Tahoma", sans-serif;
$second-font:"Manrope", "Arial", sans-serif;
$third-font:"DMSans", "Arial", sans-serif;